/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
.wrapper{
	width: 1100px;
	margin: 0 auto;
	height: 100%;
}
label: hover{
	cursor: pointer;
}
/*+++++++++++++
+++Header+=*/
.page-header{
	height: 50px;
	width: 100%;
	background-color: #0c0c0c;
	color: rgb(191,191,191);
}
.page-header a{
	color: inherit;
}
img{
	height: 80px;
	width: 60px;
}
.header-left{
	float: left;
	display: flex;
	height: 100%;
}
.header-right{
	float: right;
	display: flex;
	height: 100%;
	align-items: center;
}
.page-nav ul{
	display: flex;
	align-items: center;
	height: 100%;
	margin-left: 15px;
}
.page-nav ul li{
	margin: 0 0 0 5px;
	text-transform: capitalize;

}
.page-nav ul li::after{
	content: "|";
	margin-left: 5px;
}
.page-nav ul li:last-child::after{
	content: "";
} 
.page-nav a:hover{
	color: #fff;
}
.page-logo{
	position: relative;
	width: 60px;
}
.search-switcher-label{
	margin: 0 16px;
}
.page-logo img{
	position: absolute;
	width: 100%;
	z-index: 10000;
}
.page-search-field{
	width: 970px;
	position: absolute;
	right: 40px;
	top: -7px;
	font-weight: 300;
	font-size: 16px;
	padding: 5px;
	height: 30px;
	-webiktapperance: textfield;
	display: none;
}
.page-search{
	position: relative;
}
.page-search-field-label{
	position: absolute;
	right: 40px;
	top: -7px;
	height: 30px;
	background: transparent;
	width: 100px;
	line-height: 30px;
	display: none;
}
#search-switcher:checked~.page-search-field{
	display: block;
}
#search-switcher:checked~.page-search-field-label{
	display: block;
	color: #000;
}
.international-block{
	background: rgba(0,0,0,9);
	position: absolute;
	top: 50px;
	padding: 8px 15px 15px;
	width: 250px;
	left: -70px;
	box-sizing: border-box;
   font-weight: 300;
   display: none;
}
#international-switcher:checked~.international-block{
	display: block;
}
.international-edition{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}
.international-block ul{
	text-align: right;
}
.international-block ul li {
	margin-bottom: 15px;
	padding: 0 15px;
}
.international-block hr{
	border: 0;
	background: transparent;
	border-top: 1px solid #bfbfbf;
}
.international-block p{
	text-align: right;
}
.flex-block{
	display: flex;
}
.row-block.flex-block {
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 15px;
}
.row-block.flex-block label:nth-of-type(1) {
	margin-right: auto;

}
.row-block.flex-block input {
	margin-right: 5px;
}
.row-block.flex-block:nth-of-type(2) {
	justify-content: flex-end;
}
.confirm{
	background: transparent;
	padding: 0 15px;
	line-height: 30px;
	border: 1px solid #bfbfbf;
	color: #bfbfbf;
}
.header-expanded-menu-block{
	width: 100vw;
	background-color: rgba(0,0,0,.9);
	position: absolute;
	top: 50px;
	right: 0;
	display: none;
}

#expanded-switcher:checked~.header-expanded-menu-block{
	display: block;
}
.expanded-top-block{
	padding-top: 25px;
		background-color: rgba(0,0,0,.9);

}
.expanded-top-block h3{
	font-size: 22px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 15px;
}
.expanded-top-block a{
	font-weight: 300;
	font-size: 14px;
	line-height: 1.2;
}
/*####footer
###############*/
.page-footer{
	background-color: rgba(0,0,0,.9);
	width: 1360px;
	color: #fff;
	margin-top: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.page-footer a{
	color: #bfbfbf;
}
.footer-weather{
	display: flex;
	align-items: center;
}
.footer-top-block{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.footer-top-block .search{
	background: #262626;
	color: #bfbfbf;
	border: 0;
	height: 35px;
	width: 320px;
	font-size: 16px;
	outline: none;
	padding: 6px 45px 6px 12px;
}
.footer-top-block .search-block label{
	margin-left: -40px;
	font-size: 22px;
}
.search-block{
	display: flex;
	align-items: center;
}